<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Terapia Física | Dilan Gutiérrez</title>
</head>
<body>
    <nav>
        <div class="nav__logo">
            <a href="#conoceme"><img src="assets/logo.svg" alt="logo" /></a>
        </div>
        <ul class="nav__links">
            <li class="link"><a href="#explore">Programas</a></li>
            <li class="link"><a href="#planes">Planes</a></li>
            <li class="link"><a href="#testimonios">Testimonios</a></li>
            <li class="link"><a href="#conoceme">Conoceme</a></li>
        </ul>
        <button class="btn" onclick="location.href='@Url.Action("Login", "Account")'">Log In</button>

    </nav>

    <h1 class="header__title">
        Soy <span class="highlight">Dilan Gutiérrez</span>.
        Licenciado en Terapia Física y Rehabilitación
    </h1>

    <header class="section__container header__container">
        <div class="header__content">
            <span class="bg__blur"></span>
            <span class="bg__blur header__blur"></span>
            <h4 >TE PUEDO AYUDAR A ENTRENAR SIN DOLOR</h4>
            <h1><span>ENTRENAMIENTO</span> CON ENFOQUE TERAPEUTICO</h1>
            <p>
                Soy Dilan Gutiérrez, licenciado en Terapia Física y Rehabilitación, con amplia experiencia y diversas certificaciones en ejercicio terapéutico y prevención de lesiones. Mi misión es enseñarte a entrenar de manera estructurada e inteligente, permitiéndote iniciar o retomar el ejercicio sin comprometer tu integridad.

            </p>
        </div>
        <div class="header__image">
            <img src="assets/header2.png" alt="header" />
        </div>
    </header>



    <section id="explore" class="section__container explore__container center-content">
        <div class="explore__header">
            <h2 class="section__header">Explora nuestros programas.</h2>
            <div class="explore__nav">
            </div>
        </div>
        <div class="explore__grid">
            <div class="explore__card">
                <span><i class="ri-boxing-fill"></i></span>
                <h4>Autónomo Fitness</h4>
                <p>
                    Dirigido a personas que tienen experiencia con el entrenamiento.
                </p>
                <a href="#planes">Comenzar <i class="ri-arrow-right-line"></i></a>
            </div>
            <div class="explore__card">
                <span><i class="ri-heart-pulse-fill"></i></span>
                <h4>Progresivo</h4>
                <p>
                    Ideal para quienes tienen experiencia pero buscan orientación.
                </p>
                <a href="#planes">Comenzar <i class="ri-arrow-right-line"></i></a>
            </div>

            <div class="explore__card">
                <span><i class="ri-run-line"></i></span>
                <h4>Transformación Total</h4>
                <p>
                    El plan mas completo, perfecto para principiantes o lesionados.
                </p>
                <a href="#planes">Comenzar <i class="ri-arrow-right-line"></i></a>
            </div>
            
        </div>
    </section>

    <section class="section__container class__container">
        <div class="class__image">
            <span class="bg__blur"></span>
            <img src="assets/class-22.jpg" alt="class" class="class__img-1" />
            <img src="assets/class-11.jpg" alt="class" class="class__img-2" />
        </div>
        <div class="class__content Entrenamiento__intro">
            <h2 class="section__header">ENTRENAMIENTO DIRIGIDO A</h2>
            <p>
                Este programa está diseñado para personas que están iniciando en el entrenamiento, con poca o ninguna experiencia en ejercicios de fuerza como levantamiento de pesas, y para aquellos que, aunque ya entrenan, sufren de dolor muscular o articular. Nos enfocamos en brindar supervisión y retroalimentación constante para asegurar un progreso efectivo y seguro.
            </p>
            <a href="assets/Informacion de entrenamiento.pdf" class="btn" target="_blank">PDF Informativo</a>
        </div>
    </section>

    <section id="conoceme" class="section__container join__container">
        <h2 class="section__header">¿POR QUÉ ELEGIRME?</h2>
        <p class="section__subheader">
            Soy licenciado en Terapia Física y Rehabilitación, con una especialización en ejercicio terapéutico y prevención de lesiones. Cuento con amplia experiencia y un historial comprobado de casos de éxito en los que he logrado combinar de manera efectiva la rehabilitación con el entrenamiento físico.
        </p>
        <div class="join__image">
            <img src="assets/join2.png" alt="Join" />
            <div class="join__grid">
                <div class="join__card">
                    <span><i class="ri-user-star-fill"></i></span>
                    <div class="join__card__content">
                        <h4>Valoracion</h4>
                        <p>
                            Puede ser presencial o virtual, adaptandonos a tu comodidad y necesidades
                        </p>
                    </div>
                </div>
                <div class="join__card">
                    <span><i class="ri-open-arm-fill"></i></span>
                    <div class="join__card__content">
                        <h4>Sesiones Practicas</h4>
                        <p>Asesorías en gimnasio o videollamada para resolver tus dudas y recibir orientación.</p>
                    </div>
                </div>
                <div class="join__card">
                    <span><i class="ri-building-line"></i></span>
                    <div class="join__card__content">
                        <h4>Plan de gestion </h4>
                        <p>Gestión Eficaz de entrenamiento.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="planes" class="section__container price__container">
        <h2 class="section__header">Planes</h2>
        <p class="section__subheader">

            Nuestros precios incluye varios niveles de membresía, cada uno diseñado para adaptarse a diferentes preferencias y objetivos de fitness.
        </p>
        <div class="price__grid">
            <div class="price__card">
                <div class="price__card__content">
                    <h4>Autonomo Fitness</h4>
                    <h3>$700 / Pago Unico</h3>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Entrevista.
                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Valoracion.
                    </p>
                    <p> 
                        <i class="ri-checkbox-circle-line"></i>
                        Plan inicial de entrenamiento.
                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Educación en gestión de cargas
                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Gestió de lesión previa.
                    </p>


                </div>
                <button class="btn price__btn" onclick="location.href='@Url.Action("AutonomoFitness", "Payment")'">Unirme</button>

            </div>
            <div class="price__card">
                <div class="price__card__content">
                    <h4>Entrenamiento Progresivo</h4>
                    <h3>$1000 / Mes</h3>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Autonomo Fitness
                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Dos asesorías mensuales 
                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Analisis y corrección. 
                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Progresiones
                    </p>
                </div>
                <button class="btn price__btn" onclick="location.href='@Url.Action("Progresivo", "Payment")'">Unirme</button>
            </div>
            <div class="price__card">
                <div class="price__card__content">
                    <h4>Transformación Total</h4>
                    <h3>$2000 / Mes</h3>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Autonomo Fitness
                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Progresiones personalizadas
                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Feedback diario.
                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Seguimiento y manejo semanal.
                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Lesiones online.
                    </p>
                </div>
                <button class="btn price__btn" onclick="location.href='@Url.Action("TransformacionTotal", "Payment")'">Unirme</button>
            </div>
        </div>
    </section>

    <section id="testimonios">
    <h2 class="section__header">Testimonios</h2>
    <p class="section__subheader">

            Como Fisioterapeuta, mi objetivo es ayudar a las personas no solo a recuperarse de lesiones, sino también a alcanzar un estado óptimo de salud y rendimiento físico. 
            Cada testimonio refleja el enfoque personalizado que aplico, combinando rehabilitación con entrenamiento funcional, para que mis pacientes puedan 
            moverse mejor, más fuerte y sin dolor.
    </p>
            <div class="container bg-body-tertiary py-3">
                <div id="testimonialCarousel" class="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card shadow-sm rounded-3 p-2">
                                <div class="quotes display-2 text-body-tertiary">
                                    <i class="bi bi-quote"></i>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        "Inicie principalmente contigo porque quería saber cómo entrenar correctamente usando el mínimo tiempo o esfuerzo pero que fuera funcional, a su vez me ayudaste con mis tareas del día a día y adaptarlas al ejercicio para tener un mejor rendimiento junto con su prevención de lesiones.
                                        Lo que me hizo quedarme con tu servicio fue el trato tan personalizado que tienes ya que había tenido malas experiencias con otras personas en el área nutricional / instructor / fisio donde su servicio era muy general y nada al punto como contigo, el cambio más grande que noté fue que baje 15 kilos en un par de meses fue algo lento pero seguro y sin riesgos.
                                        Sé que no te dedicas al área de obesidad pero fue de la mano junto con el ejercicio y hábitos saludables.
                                        "
                                    </p>
                                <div class="review__rating">
                                    <span><i class="ri-star-fill"></i></span>
                                    <span><i class="ri-star-fill"></i></span>
                                    <span><i class="ri-star-fill"></i></span>
                                    <span><i class="ri-star-fill"></i></span>
                                    <span><i class="ri-star-fill"></i></span>
                                </div>
                                    <div class="d-flex align-items-center pt-4">
                                        <img src="~/assets/member2.png" alt="">
                                        <div>
                                            <h5 class="card-title fw-bold">Franklin Zamora</h5>
                                            <span class="text-secondary">Trabajo de oficina sedentario</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card shadow-sm rounded-3 p-2">
                                <div class="quotes display-2 text-body-tertiary">
                                    <i class="bi bi-quote"></i>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                    "Después de una cesárea, una cirugía de quiste y 11 meses lactando exclusivamente a mi bebé, además de todos los cambios que conlleva el postparto, estaba 10 kg por debajo de mi peso ideal. Por esa razón decidí retomar el ejercicio con el especialista mejor capacitado que conozco. Has sido el mayor apoyo que he tenido para recuperarme al 100%, rehabilitar mi espalda tras meses de lactancia y cargar a mi pequeño. Me reincorporé y empecé a progresar día a día, tanto en fuerza, como en apariencia física, lo que también mejoró mi autoestima. Mi plan se ajusta perfectamente a mis tiempos y nivel de energía como mamá, ama de casa y emprendedora. En poco tiempo ya recuperé 4 kg de masa muscular, y seguiré cumpliendo objetivos cada vez mayores."
                                </p>
                                <div class="review__rating">
                                    <span><i class="ri-star-fill"></i></span>
                                    <span><i class="ri-star-fill"></i></span>
                                    <span><i class="ri-star-fill"></i></span>
                                    <span><i class="ri-star-fill"></i></span>
                                    <span><i class="ri-star-fill"></i></span>
                                </div>
                                    <div class="d-flex align-items-center pt-4">
                                        <img src="~/assets/Cynthia.png" alt="">
                                        <div>
                                            <h5 class="card-title fw-bold">Cynthia Yañez</h5>
                                            <span class="text-secondary">Mamá, Emprendedora y Ama de casa</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card shadow-sm rounded-3 p-2">
                                <div class="quotes display-2 text-body-tertiary">
                                    <i class="bi bi-quote"></i>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                    "Llegué con una lesión no identificada. Antes ya había consultado a otro fisioterapeuta y un traumatólogo que, aunque ayudaron, no resolvieron mi molestia. La consulta con Dilan fue lo que uno espera y no siempre recibe. Hizo preguntas para crear mi historial clínico y entender el problema, luego pruebas físicas para aislarlo y cuantificar el dolor. Al identificar la causa, trabajamos con ejercicios, probando si había mejora. Fui constante, evaluando dolor y esfuerzo para ajustar. Estoy muy satisfecha con los resultados. Ahora entreno con él, mi fuerza aumentó, y con su monitoreo no temo lesionarme de nuevo. Mi nivel de fuerza aumentó y ya no temo volver a lesionarme porque Dilan está constantemente checando nuestro desempeño de manera integral".
                                </p>
                                <div class="review__rating">
                                    <span><i class="ri-star-fill"></i></span>
                                    <span><i class="ri-star-fill"></i></span>
                                    <span><i class="ri-star-fill"></i></span>
                                    <span><i class="ri-star-fill"></i></span>
                                    <span><i class="ri-star-half-fill"></i></span>
                                </div>
                                    <div class="d-flex align-items-center pt-4">
                                        <img src="~/assets/member3.png" alt="">
                                        <div>
                                            <h5 class="card-title fw-bold">Mireya Mariscal</h5>
                                        <span class="text-secondary">Rehabilitación y preparación física.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card shadow-sm rounded-3 p-2">
                                <div class="quotes display-2 text-body-tertiary">
                                    <i class="bi bi-quote"></i>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                    "Te contacté porque tenía buenas referencias tuyas y quería un entrenador más específico, que trabajara acorde a mi tipo de cuerpo. Por no escuchar a mi cuerpo, sufrí un esguince en la muñeca por sobrecarga, y durante 2-3 meses, las actividades diarias se volvieron imposibles: no podía cambiarme, usar cubiertos o mover cosas ligeras. Finalmente, decidí ponerme en contacto contigo. Lo increíble es el tiempo que dedicas a conocer a tus pacientes, sus limitaciones y lo que necesitan trabajar primero. Adaptaste todo a mi lesión, permitiendo que descansara lo necesario sin dejar de activar la parte principal. Con paciencia, mejoré y ahora siento mi muñeca más fuerte, evitando otra lesión."
                                </p>
                                <div class="review__rating">
                                    <span><i class="ri-star-fill"></i></span>
                                    <span><i class="ri-star-fill"></i></span>
                                    <span><i class="ri-star-fill"></i></span>
                                    <span><i class="ri-star-fill"></i></span>
                                    <span><i class="ri-star-fill"></i></span>
                                </div>
                                    <div class="d-flex align-items-center pt-4">
                                        <img src="~/assets/member4.png" alt="">
                                        <div>
                                            <h5 class="card-title fw-bold">Ana Ruvalcaba</h5>
                                        <span class="text-secondary">Rehabilitación y preparación física.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card shadow-sm rounded-3 p-2">
                                <div class="quotes display-2 text-body-tertiary">
                                    <i class="bi bi-quote"></i>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                    Mi experiencia en estos casi 3 años entrenando contigo me ha ayudado mucho a progresar tanto físicamente como mentalmente, me haz enseñado tanto en cuestiones de entrenamiento y en cosas personales; llegué contigo primeramente porque tenía dolores en las rodillas al hacer ejercicio y obviamente no conocía ni la técnica ni como gestionarme.
                                    Pero cuando empezamos a trabajar juntos mi manera de ver el ejercicio se hizo mas amplia, creció y ahora las dolencias desaparecieron y si llega a aparecer alguna sensación o dolor, ya sé a que se podría deber y también sé que cuento con tu respaldo, así que me generas esa confianza de maestro y aprendiz, y de igual manera de amistad.
                                    Todo gracias a ti y a mi nutriologa.
                                    </p>
                                <div class="review__rating">
                                    <span><i class="ri-star-fill"></i></span>
                                    <span><i class="ri-star-fill"></i></span>
                                    <span><i class="ri-star-fill"></i></span>
                                    <span><i class="ri-star-fill"></i></span>
                                    <span><i class="ri-star-fill"></i></span>
                                </div>
                                    <div class="d-flex align-items-center pt-4">
                                        <img src="~/assets/member5.png" alt="">
                                        <div>
                                            <h5 class="card-title fw-bold">Teresita Bisáis</h5>
                                        <span class="text-secondary">Rehabilitación y preparación física..</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <script>
                    const multipleItemCarousel = document.querySelector("#testimonialCarousel");

                    if (window.matchMedia("(min-width:576px)").matches) {
                        const carousel = new bootstrap.Carousel(multipleItemCarousel, {
                            interval: false,
                        });

                        var carouselWidth = $(".carousel-inner")[0].scrollWidth;
                        var cardWidth = $(".carousel-item").width();

                        var scrollPosition = 0;

                        $(".carousel-control-next").on("click", function () {
                            if (scrollPosition < carouselWidth - cardWidth * 3) {
                                console.log("next");
                                scrollPosition = scrollPosition + cardWidth;
                                $(".carousel-inner").animate({ scrollLeft: scrollPosition }, 800);
                            }
                        });
                        $(".carousel-control-prev").on("click", function () {
                            if (scrollPosition > 0) {
                                scrollPosition = scrollPosition - cardWidth;
                                $(".carousel-inner").animate({ scrollLeft: scrollPosition }, 800);
                            }
                        });
                    } else {
                        $(multipleItemCarousel).addClass("slide");
                    }
                </script>
            </div>

    </section>

    <footer class="section__container footer__container">
        <span class="bg__blur"></span>
        <span class="bg__blur footer__blur"></span>
        <div class="footer__col">
            <div class="footer__logo"><img src="assets/logo2.png" alt="logo" /></div>
            <p>
                Fisioterapia con enfoque Deportivo.
                Te puedo ayudar a entrenar sin dolor.
            </p>
            <div class="footer__socials">
                <a href="https://www.facebook.com/Dilan.GutierrezH/" target="_blank"><i class="ri-facebook-fill"></i></a>
                <a href="https://www.instagram.com/dilan_gtez/" target="_blank"><i class="ri-instagram-line"></i></a>
                <a href="https://maps.app.goo.gl/izsMZQM4hFDCtekK9" target="_blank"><i class="ri-map-pin-fill"></i></a>
            </div>
        </div>                                                     
    </footer>
    <div class="footer__bar">
        Copyright © 2024 Web Design for Dilan Gutiérrez. All rights reserved.
    </div>
</body>
</html>
